.item {
    text-align: center;
  }
  .item_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    margin: 0;
  }
  .item_description {
    font-size: 11px;
    line-height: 13px;
    color: #584f4f;
    margin: 0;
  }
  .item_price {
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: #f00;
    margin-top: 3px;
    margin-bottom: 7px;
  }